#page-wrapper{
    height: 500px;
}

.container-fluid{
    width: 370px;
}

.add_articles{
    width: 230px;
    margin: 0 auto;
}

.add_articles input{
    width: 100%;
    margin-bottom: 10px;
}

.art_description{
    width: 100%;
    margin-bottom: 10px

}

